{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatsite</title>
</head>
<script src="{% static 'js/jquery.min-3.6.2.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<body>
{% csrf_token %}
<div class="container">
    <div class="live-status">
        {% if username is not None %}
            <span>状态:</span>
            <span style="color: #07c160">在线</span>
            <span>当前用户：</span>
            <span>{{ username }}</span>
        {% else %}
            <span>状态:</span>
            <span style="color: red">离线</span>
        {% endif %}
    </div>
    <div class="form-inline">
        <input type="text" class="form-control" placeholder="请输入群号或用户名" id="talker">
        <input type="button" class="btn btn-default" value="连接socket" id="socketConn">
        <input type="button" class="btn btn-default" value="关闭socket" id="closeConn">
        <input type="button" class="btn btn-default" value="登录" id="login">
        <input type="button" class="btn btn-default" value="登出" id="logout">
    </div>
    <textarea class="message" id="message" readonly></textarea>
    <div><textarea type="text" class="form-control" placeholder="请输入" id="txt" rows="3"></textarea>
        <input type="button" class="btn btn-default" value="发送" id="sendMessage">
    </div>
</div>


</body>
<script>


    var socket;
    var session;
    var talker;

    $(document).ready(function () {

        $("#socketConn").click(function () {
            //防止重复连接socket通道,0未连接，1已连接，2正在关闭，3已断开
            if (socket != null && socket.readyState == 1) {
                return ;
            }
            session = "{{ session }}";
            socket = new WebSocket("ws://127.0.0.1:8000/channel/" + session + "/")

            //创建好连接之后自动触发
            socket.onopen = function (event) {
                talker = $("#talker").val()
                $("#message").text($("#message").text() + "[连接成功 session:" + session + "]" + "\n")
                $('#message').scrollTop($('#message')[0].scrollHeight);

            }

            //当websocket接收到服务端发来的消息时自动触发这个函数
            socket.onmessage = function (event) {
                let tag = document.createElement("div");
                msg = JSON.parse(event.data);
                $("#message").text($("#message").text()+msg.username+":"+msg.message + "\n")
                $('#message').scrollTop($('#message')[0].scrollHeight);

            }

            socket.onclose = function (event) {
                $("#message").text($("#message").text() + "[断开连接 session:" + session + "]" + "\n")
                $('#message').scrollTop($('#message')[0].scrollHeight);
            }
        })

        $("#sendMessage").click(function () {
            let message = $("#txt").val()
            let json = JSON.stringify({
                "message":message,
                "talker":$("#talker").val(),
            }).toString();
            socket.send(json);
            $("#txt").val("")
            $("#message").text($("#message").text()+"{{ username }}"+":"+message + "\n")
            $('#message').scrollTop($('#message')[0].scrollHeight);
        })

        $("#closeConn").click(function () {
            socket.close();
        })

        $("#login").click(function () {
            window.location.href = "/login/"
        })

        $("#logout").click(function () {
            let csrftoken = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url: "/logout/",
                type: "POST",
                data: {
                    "csrfmiddlewaretoken": csrftoken,
                },
                success: function (data) {
                    if (data.success == '200') {
                        window.location.href = "/index/"
                    }
                }
            })
        })
    })


</script>
</html>